* { margin: 0; padding: 0; }
blockquote, img, ol, p, pre, table, ul { margin-bottom: 1rem; }
body {
	margin: 0 auto;
	max-width: 750px;
	padding: 2rem;
	border-radius: 6px;
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	background: #fff;
	color: #111;
	font-size: 1.03rem;
	line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	color: #000;
	padding-top: .875rem;
	padding-bottom: 2px;
	margin-bottom: 0.3rem;
	margin-bottom: .3rem;
}
h1 { font-size: 2.25rem; }
h2 { font-size: 1.85rem; }
h3 { font-size: 1.55rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }
a       { color: #07f; }
a:hover { color: #06d; }
blockquote {
	padding: 1.5rem;
	background: #F6F8FA;
	border-left: 5px solid #E5E7EB;
}
blockquote *:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}
code, pre {
	background: #F6F8FA;
	border: 1px solid #E5E7EB;
	border-radius: 4px;
	padding: 3px 6px;
	font-size: 0.9rem;
}
pre {
	padding: 1rem 1.4rem;
	max-width: 100%;
	overflow: auto;
}
pre code {
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}
code pre {
	display: inline;
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}
hr {
	border: 0;
	border-bottom: 1px solid #E5E7EB;
	margin: 1rem auto;
}
table {
	border-collapse: collapse;
	width: 100%
}
td, th {
	border: 1px solid #E5E7EB;
	text-align: left;
	padding: .5rem;
}
th                 { background: #F6F8FA; }
tr:nth-child(even) { background: #F6F8FA; }
table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}
ol, ul { padding-left: 2rem; }
li { margin-top: .4rem; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; }
img { max-width: 100%; }
